<% if people.length > 0 %>
    <table class="grid">
        <tr>
            <th>
                Last
            </th>
            <th>
                First
            </th>
            <th>
                Email
            </th>
            <th>
                Status &gt; Sub status
            </th>
            <th>
                Phone
            </th>
            <th>&nbsp;</th>
        </tr>
        <% people.each do |person| %>
            <tr>
                <td>
                    <%= person.last_name %>
                </td>
                <td>
                    <%= person.casual_name %>
                </td>
                <td>
                    <%= person.email %>
                    <input type="hidden" name="emails[]" value="<%= person.email %>" />
                </td>
                <td>
                    <%= person.status %>
                    <%= " > #{person.sub_status}" unless person.sub_status.nil? %>
                </td>
                <td>
                    <%= person.phone %>
                </td>
                <td>Delete</td>
            </tr>
        <% end %>
    </table>
<% else %>
    <p>
        <em>No people were found with that attribute.</em>
    </p>
<% end %>