<div class="grid_16">
    <h2>
		<span class="mute">Synchronize &ndash;</span> Add to lists
	</h2>
    <%= form_tag synchronize_path, :method => :post do %>
        <table class="grid">
			<thead>
            	<tr>
	                <th class="shrink">
						<a href="#" class="check_all">All</a>
					</th>
	                <th>
						Name
					</th>
	                <th>
						Subscribers
					</th>
	                <th>
						Created
					</th>
	            </tr>
			</thead>
			<tbody>
	            <% @lists.each do |list| %>
	                <tr>
	                    <td class="shrink">
	                        <input type="checkbox" name="lists[]" value="<%= list['id'] %>" />
	                    </td>
	                    <td>
	                        <%= list['name'] %>
	                    </td>
	                    <td>
	                        <%= list['member_count'].to_i %>
	                    </td>
	                    <td>
	                        <%= DateTime.parse(list['date_created']).strftime("%d %b %Y") %>
	                    </td>
	                </tr>
	            <% end %>
			</tbody>
        </table>
        <p>
            <%= submit_tag "Save people to list" %>
        </p>
    <% end %>
</div>