<!DOCTYPE html>
<html>
<head>
  <title>Fellowship One :: Campaigner</title>
  <%= stylesheet_link_tag "reset.css", "text.css", "960.css", "application.css", :cache => true %>
  <%= javascript_include_tag "jquery.js", "rails.js", "application.js", :cache => true %>
  <%= csrf_meta_tag %>
</head>
<body>
    <% unless flash[:notice].nil? %>
        <div class="container_16">
            <div class="grid_16">
                <p class="flash_notice">
                    <%= flash[:notice] %>
                </p>
            </div>
        </div>
    <% end %>
    <div class="container_16">
        <%= yield %>
    </div>
</body>
</html>
