<div class="grid_16">
	<h2>
		Account
	</h2>
	<hr />
</div>
<div class="clear"></div>
<div class="grid_8">
	<p>
		Please enter the API key provided to you by MailChimp. You can find your key by clicking the <em>Account</em> drop-down menu in their admin interface, and then selecting <strong>api keys &amp; info</strong>. The key itself is an alphanumeric value.
	</p>
	<div class="box">
	    <%= form_for @current_account do |f| %>
	        <%= f.error_messages %>
	        <fieldset>
	            <%= f.label :mailchimp_key, "MailChimp API Key" %>
	            <%= f.text_field :mailchimp_key, :class => "input_full big", :autofocus => "autofocus", :placeholder => "Example: 1a234bc5...de678f-us1" %>
	        </fieldset>
	        <p>
	            <%= submit_tag "Save changes" %>
				&nbsp;
	            <%= link_to "Cancel", home_path, :class => "cancel" %>
	        </p>
	    <% end %>
	</div>
</div>
<div class="grid_8">
	<p class="gutter_bottom_half">
		<%= image_tag('mailchimp_api_key.png', :class => "figure", :title => "This is what the MailChimp interface looks like. Perdy!") %>
	</p>
	<p class="mute align_center">
		Your API key will look something like the one circled in <span style="color:red">red</span> above.
	</p>
</div>